.clipboardWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2rem);
  background-color: var(--bg-primary);

  .tabs {
    height: 2.5rem;
    :global(.ant-tabs-tab) {
      width: 6rem !important;
      justify-content: center !important;
    }
  }

  .dataSourceWrapper {
    position: absolute;
    top: 2.5rem; /* 标签栏高度 */
    bottom: 0;
    left: 150px;
    right: 0;
    overflow-y: auto;
  }

  .renderItem {
    margin-bottom: 0.1rem;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    .timestamp {
      font-size: 0.7rem;
      color: var(--text-tips-primary);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 0.5rem;

      .icon {
        cursor: pointer;
        font-size: 0.9rem;
        color: #1677ff;
      }
    }
  }

  .selected {
    border: 2px solid var(--select-border-color);
  }
}
