.tabs {
    :global(.ant-tabs-tab) {
        width: 6rem !important;
        justify-content: center !important;
    }
}

.dataSourceWrapper {
    height: 100%;
    overflow-y: scroll;
}

.renderItem {
    margin-bottom: 0.1rem;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border: 1px solid var(--border-color);

    .timestamp {
        font-size: 0.7rem;
        color: var(--text-tips-primary);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 0.5rem;

        .icon {
            cursor: pointer;
            font-size: 0.9rem;
        }

        .icon:hover {
            color: var(--text-link-hover);
        }
    }
}

.selected {
    border: 2px solid var(--select-border-color);
}