.clipboardWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2rem);
  background-color: var(--bg-primary);

  .tabs {
    height: 2.5rem;
    :global(.ant-tabs-tab) {
      width: 6rem !important;
      justify-content: center !important;
    }
  }

  .dataSourceWrapper {
    position: absolute;
    top: 3rem; /* 标签栏高度 */
    bottom: 0;
    left: 150px;
    right: 0;
    overflow-y: auto;
  }

  .virtualListWrapper {
    position: relative;
    width: 100%;
  }

  .renderItem {
    margin-bottom: 0.1rem;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--bg-hover);
    }

    .ellipsis {
      display: "-webkit-box";
      -webkit-line-clamp: 4;
      -webkit-box-orient: "vertical";
      overflow: "hidden";
      text-overflow: "ellipsis";
      line-height: "1.5";
      max-height: "6em";
    }

    .timestamp {
      font-size: 0.7rem;
      color: var(--text-tips-primary);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 0.5rem;

      .icon {
        cursor: pointer;
        font-size: 0.9rem;
        color: #1677ff;

        &:hover {
          color: #0958d9;
        }
      }
    }
  }

  .selected {
    border: 2px solid var(--select-border-color);
    border-right: 0;
    background-color: var(--bg-selected);
  }
}
