* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color var(--transition-duration),
    color var(--transition-duration),
    border-color var(--transition-duration);
}

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --text-primary: #333333;
  --text-tips-primary: #9f9b9e;
  --text-secondary: #666666;
  --accent-color: #4a6cf7;
  --border-color: #e0e0e0;
  --select-border-color: #00008B;
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  --transition-duration: 0.3s;
}

[data-theme="dark"] {
  --bg-primary: #1a1a1a;
  --bg-secondary: #2d2d2d;
  --text-primary: #f0f0f0;
  --text-tips-primary: #9f9b9e;
  --text-secondary: #b0b0b0;
  --accent-color: #6b8cff;
  --border-color: #404040;
  --select-border-color: #FFFF00;
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


body {
  font-family: 'Segoe UI', system-ui, sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ant-layout-sider-children {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  border-right: 1px solid var(--border-color);
}

.ant-menu {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  border-right: 1px solid var(--border-color);
}

.ant-menu-item {
  color: var(--text-primary) !important;
}