.main {
  height: 2rem;
  display: flex;
  justify-content: end;
  -webkit-app-region: drag;
  gap: 1.5rem;
  padding-right: 1rem;
  border-bottom: 1px solid var(--border-color);

  .tools-btn {
    height: 2rem;
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
    cursor: pointer;
    gap: 1.5rem;
    
    .icon {
      cursor: pointer;
      font-size: 1.2rem;
      margin: 0 0.4rem;
      position: relative;
      display: inline-block;
    }

    .wifi::after {
      content: "🟢";
      position: absolute;
      bottom: -0.15rem;
      right: -0.5rem;
      font-size: 0.8rem;
      line-height: 1;
      transform: scale(0.6);
    }

    .no-wifi::after {
      content: "🔴";
      position: absolute;
      bottom: -0.15rem;
      right: -0.5rem;
      font-size: 0.8rem;
      line-height: 1;
      transform: scale(0.6);
    }
  }

  .operate {
    height: 2rem;
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
    cursor: pointer;
  }
}
